// @font-face {
//   font-family: "fontName";
//   font-weight: "400";
//   src: url("./fonts/fontName-normal.ttf"); //IE-9 Compat Modes
//   src: url("./fonts/fontName-normal.ttf") format("embeded-opentype"),
//     url("./fonts/fontName-normal.ttf") format("woff"),
//     url("./fonts/fontName-normal.ttf") format("woff2"),
//     url("./fonts/fontName-normal.ttf") format("truetype"),
//     url("./fonts/fontName-normal.ttf") format("svg");
// }

// ====FONT SIZE FOR LARGE DEVICE====
@media screen and (min-width: 968px) {
  :root {
    $font-big: 3rem;
    $font-h1: 2.25rem;
    $font-h2: 1.5rem;
    $font-h3: 1.25rem;
    $font-normal: 1rem;
    $font-small: 0.875rem;
    $font-smaller: 0.813rem;
  }
}

// Common weight name mapping
// 100 - thin
// 200 - extra-light
// 300 - light
// 400 - normal/regular
// 500 - medium
// 600 - semi-bold
// 700 - bold
// 800 - extra-bold
// 900 - black

// h1-h6
// // example
// h3 {
//   font-size: 1.999em;
//   @media (max-width: $breakpoint-tablet) {
//     font-size: 1.3em;
//   }
//   @media (max-width: $breakpoint-mobile) {
//     font-size: 1.2em;
//   }
// }
// p
// a
// strong
// span
// .h1-h6
// .red .blue (or any other which you know that will repeat in your texts)
// .small,
// .large
