// -------------------------
// -----COLOR VARIABLES-----
// -------------------------
$white: #fff;
$grey-dark: #333;
$grey-light: darken($white, 5%);

$color-map: (
  primary: #111,
  accent: #111,
  secondary: #222,
  tertiary: #333,
  headline: $white,
  menu-items: #111,
  text: $grey-dark,
  link: #111,
  body: $white,
  container: $grey-light,
);

// ------------------------
// -----FONT VARIABLES-----
// ------------------------

//-----FONT FAMILY-----
// $font-primary: ;
// $font-secondary: ;
// $font-tertiary: ;

//-----FONT WEIGHT-----
$font-weight-map: (
  bold: 700,
  semi-bold: 600,
  medium: 500,
  regular: 400,
  light: 300,
  extra-light: 200,
  thin: 100,
);

//-----FONT SIZE-----
$font-size-map: (
  big: 2rem,
  h1: 1.5rem,
  h2: 1.25rem,
  h3: 1.125rem,
  normal: 0.938rem,
  small: 0.813rem,
  smaller: 0.75rem,
);

// ------------------------
// -----REUSEABLE-----
// ------------------------

// -----SPACE: MARGIN / PADDING / SIZES-----
// -----------------------------------------

//-----BREAKPOINT VARIABLES-----
$breakpoint-map: (
  x-large: 1200px,
  large: 960px,
  medium: 680px,
  small: 480px,
  tiny: 320px,
);

//-----HEIGHT VARIABLES-----
$height-header: 60px;
$height-footer: 60px;
$width-content: 1140px;

//-----SPACE VARIABLES-----

$sp-1-25: 1.25rem;
$sp-0-5: 0.5rem;
$sp-0-75: 0.75rem;
$sp-1: 1rem;
$sp-1-5: 1.5rem;
$sp-2: 2rem;
$sp-3: 3rem;

//-----Z-INDEX VARIABLES-----
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
