// =====COLOR VARIABLES=====
$primary: #df564e;
$primary-light: #f48b86;
$primary-dark: #af534e;
$green-light: #55c57a;
$green-dark: #0da43f;
$blue-light: #2298ff;
$blue-dark: #5643fa;
$orange-light: #ffb900;
$orange-dark: #ff7730;
$white: #fff;
$grey-dark: #333;
$grey-light-1: darken($white, 5%);

$color-map: (
  primary: $primary,
  primary-light: $primary-light,
  primary-dark: $primary-dark,
  secondary-1-light: $green-light,
  secondary-1-dark: $green-dark,
  secondary-2-light: $blue-light,
  secondary-2-dark: $blue-dark,
  secondary-3-light: $orange-light,
  secondary-3-dark: $orange-dark,
  hero: $white,
  headline: $white,
  menu-items: $white,
  text: $grey-dark,
  link: $primary,
  link-hover: $primary-dark,
  body: $white,
  container: $grey-light-1,
);

// =====FONT VARIABLES=====

//-----FONT FAMILY-----
$font-primary: "Lato", "Helvetica", "Arial", sans-serif;
$font-secondary: "Roboto", "Helvetica", "Arial", sans-serif;

//-----FONT WEIGHT-----
$font-weight-map: (
  bold: 700,
  semi-bold: 600,
  medium: 500,
  regular: 400,
  light: 300,
  extra-light: 200,
  thin: 100,
);

//-----FONT SIZE-----
$font-size-map: (
  hero: 4.8rem,
  h1: 3.2rem,
  h2: 2.4rem,
  h3: 1.87rem,
  normal: 1.6rem,
  small: 1.3rem,
  smaller: 1.2rem,
  big: 1.9rem,
  bigger: 2rem,
);

// =====SPACE: MARGIN / PADDING / SIZES=====

//-----BREAKPOINT VARIABLES-----
$breakpoint-map: (
  x-large: 1200px,
  large: 960px,
  medium: 680px,
  small: 480px,
  tiny: 320px,
);

//-----HEIGHT VARIABLES-----
$height-header: 6rem;
$height-footer: 6rem;
$width-content: 114rem;

//-----SPACE VARIABLES-----

$sp-0-25: 0.25rem;
$sp-0-5: 0.5rem;
$sp-0-75: 0.75rem;
$sp-1: 1rem;
$sp-1-25: 1.25rem;
$sp-1-5: 1.5rem;
$sp-2: 2rem;

//-----Z-INDEX VARIABLES-----
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
